@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Raleway:wght@500&family=Source+Sans+3&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-section {
    background-color: #a7e5ff;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Source Sans 3', sans-serif;
    position: relative;

}
.top-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 30vh;
    text-align: center;
    font-size: 30px;
}

.listen-button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}

.listen-button:hover {
    background-color: rgb(66, 66, 66);
}


.logo {
    width: 100px;
    height: 100px;
    background-image: url('/images/PPlogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 10px;
}

.diagram-section {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
    width: 450px;
    height: 100px;
    margin: 10px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    max-height: 100px; 
    box-sizing: border-box;
  }


  .recent-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }


  .recent-word-box {
    background-color: #ffdcd4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 260px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

  .recent-word-box:hover {
    transform: translateY(-5px);
  }
  

  .word-title {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
  }

  .show-diagrams-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    margin-top: 90px;
    align-self: center;
}

.show-diagrams-btn:hover {
  background-color: rgb(66, 66, 66);
}

footer {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}